@tailwind base;
@tailwind components;
@tailwind utilities;

label {
	transition: all 200ms ease-in-out;
}
input:focus ~ label,
select:focus ~ label {
	top: -10px;
	left: 10px;
	background-color: white;
	padding: 0 10px;
	font-size: 0.8rem;
}
input:valid ~ label,
select:valid ~ label {
	top: -10px;
	left: 10px;
	background-color: white;
	padding: 0 10px;
	font-size: 0.8rem;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-box-shadow: 0 0 0 30px white inset !important;
}
input[type="date"]:required:invalid::-webkit-datetime-edit {
	color: transparent;
}
input[type="date"]:focus::-webkit-datetime-edit {
	color: black !important;
}
input[type="date"]::-webkit-calendar-picker-indicator {
	background: transparent;
	bottom: 0;
	color: transparent;
	cursor: pointer;
	height: auto;
	position: absolute;
	right: 0;
	top: 0;
	width: 10%;
}
select {
	padding: 3px;
	margin: 0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
	-moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
	background: #f8f8f8;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	cursor: pointer;
}
